#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
input/*.iso
# packer
output*
*cache*
.idea/
packer-pfsense.iml
output-*/
packer_cache/